{% for article in articles %}
    <div><a href="{{ url_for('article', article_title=article.title) }}">{{ article.title }}</a></div>
{% endfor %}
{% if prev_url %}
    <a href="{{ prev_url }}"><<<</a>
{% else %}
    <<<
{% endif %}
{% for p in iter_pages %}
    {% if p != page %}
        <a href="{{ url_for({{ url }}, page=p) }}">{{ p }}</a>
    {% else %}
        <strong>{{ p }}</strong>
    {% endif %}
{% endfor %}
{% if next_url %}
    <a href="{{ next_url }}">>>></a>
{% else %}
    >>>
{% endif %}