<html>
    <head>
      <title>{{ title }}</title>
    </head>
    <body>
        <h1>Археология без воды</h1>
        <hr>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('about') }}">О проекте</a>
        <a href="{{ url_for('subscribe') }}">Подписаться</a>
        <a href="{{ url_for('feedback') }}">Обратная связь</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Вход</a>
        {% else %}
            <a href="{{ url_for('add') }}">Добавить статью</a>
            <a href="{{ url_for('logout') }}">Выход</a>
            <a href="{{ url_for('profile', username=current_user.name_author) }}">{{ current_user.name_author }}</a>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>