{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if tags %}
        {% for tag in tags %}
        {{ tag }} <a href="{{ url_for('explore', tags=tags, deletetag=tag) }}">удалить</a>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <h4>Результат:</h4>
    {% if articles %}
        {% for article in articles %}
            <div><a href="{{ url_for('article', article_title=article.title) }}">{{ article.title }}</a></div>
        {% endfor %}
        {% if prev_url %}
            <a href="{{ prev_url }}"><<<</a>
        {% else %}
            <<<
        {% endif %}
        {% for p in iter_pages %}
            {% if p != page %}
                <a href="{{ url_for('explore', tags=tags, page=p) }}">|{{ p }}|</a>
            {% else %}
                {{ p }}
            {% endif %}
        {% endfor %}
        {% if next_url %}
            <a href="{{ next_url }}">>>></a>
        {% else %}
            >>>
        {% endif %}
    {% else %}
        <strong> :( Нет статей с заданной совокупностью тегов</strong>
    {% endif %}

{% endblock %}



